%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{lib_dirs, ["deps"]}.

{deps, [
    {oc_erchef, ".*",
         {git, "https://github.com/opscode/oc_erchef", {branch, "jd/1.0.0-17"}}}
]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps,
 [
    {meck, "0.8.2", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
 ]}.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, true}.

{cover_enabled, true}.

{port_specs, [{"priv/fast_xs.so", ["c_src/*.c"]}]}.

{erl_opts, [
            warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types}
           ]}.